{% extends "layout/basic.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
<h1 class="text-center">Калькулятор калорий Пышечка</h1>
<p>Единственный нормальный калькулятор калорий.</p>
<p class="mb-0">Основные функции:</p>
<ul>
	<li>Создавать:<ul>
		<li>приёмы пищи;</li>
		<li>продукты;</li>
		<li>блюда (продукты, состоящие из других продуктов).</li>
	</ul></li>
	<li>Считать БЖУ за день, неделю и месяц, сравнивать с целью (нормой);</li>
	<li>Регистрировать новых пользователей, настраивать их БЖУ (ценность и цель).</li>
</ul>
{% endblock %}
